body{
    background-color: gray;
}
.raid-tile{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    height: auto;

}

h3{
    margin: 0;
}

#RaidEventNameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#RaidEventNameContainer h1:nth-child(odd){
    align-self: center;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container h3:nth-child(odd) {
    align-self: flex-start; 
}

.header-container h3:nth-child(even) {
    align-self: center; 
}

#fireteamMembers{
    list-style: none;
}

.raid-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    align-items: center; 
    justify-items: center; 
}
.raid-tile:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.raid-tile>img{
    width:100%;
    height:auto;
}